.view-container .cards .card .top-layer{
    display: none;
}
.view-container .cards .card .top-container .close-btn{
    display: none;
}
.view-container .cards .card .top-container .back-btn{
    top: 10px;
    left: 10px;
}
.view-container .cards .card .top-container .back-btn .btn{
    cursor: pointer;
}
.view-container .cards{
    display: block;
}
.view-container .cards .card .top-container{
    grid-template-columns: repeat(2, 1fr);
    padding-top: 2.5rem;
    column-gap: 0;
    background-image: none !important;
    padding-bottom: 4rem;
}
.view-container .cards .card .top-container .city{
    grid-column: 1/3;
    grid-row: 1/2;
    margin-bottom: 2rem;
}
.view-container .cards .card .top-container .description{
    grid-column: 1/2;
    grid-row: 2/4;
    flex-direction: column;
    border-right: 1px solid var(--top-container-border-color);
    align-items: flex-end;
    padding-right: 2.5rem;
}
.view-container .cards .card .top-container .temp{
    grid-column: 2/3;
    grid-row: 2/3;
    justify-content: flex-start;
    padding-left: 2.5rem;
}
.view-container .cards .card .top-container .temp-min-max{
    grid-column: 2/3;
    align-items: flex-start;
    padding-left: 2.5rem;
}
.view-container .cards .card .bottom-container{
    padding: 2.5rem 8rem;
}

@media screen and (max-width:970px){
    .view-container .cards .card .bottom-container{
        padding: 2.5rem 4rem;
    }
}

@media screen and (max-width:780px){
    .view-container .cards .card .bottom-container{
        padding: 2.5rem 2rem;
    }
}

@media screen and (max-width:590px){
    .view-container .cards .card .bottom-container{
        padding: 2.5rem 1rem;
    }
}

@media screen and (max-width:540px){
    .view-container .cards .card .bottom-container{
        grid-template-columns: repeat(2,1fr);
        row-gap: 1.5rem;
    }
    .view-container .cards .card .bottom-container .middle{
        border: none;
        grid-column: 1/3;
        grid-row: 2/3;
        gap: .8rem
    }
    .view-container .cards .card .top-container .temp{
        grid-column: 1/2;
        grid-row: 2/3;
        padding-left: 0;
        border-right: 1px solid var(--top-container-border-color);
    }
    .view-container .cards .card .top-container .temp-min-max{
        grid-column: 2/3;
        grid-row: 2/4;
        align-items: flex-end;
        justify-content: center;
        padding-left: 0;
    }
    .view-container .cards .card .top-container .description{
        grid-column: 1/3;
        grid-row: 4/5;
        flex-direction: row;
        border-right: none;
        align-items: center;
        padding-right: 0;
    }
    .view-container .cards .card .top-container{
        padding-bottom: 2rem;
    }
}

@media screen and (max-width:400px){
    .view-container .cards .card .bottom-container{
        grid-template-columns: 1fr;
        row-gap: 1rem;
    }
    .view-container .cards .card .bottom-container .middle{
        border: none;
        grid-column: 1/3;
        grid-row: 3/4;
    }
    .view-container .cards .card .bottom-container .right{
        grid-column: 1/3;
        grid-row: 2/3;
        align-items: center;
        border-bottom: 1px solid var(--bottom-container-border-color);
        padding-bottom: 1rem;
    }
    .view-container .cards .card .bottom-container .left{
        border: none;
        align-items: center;
        border-bottom: 1px solid var(--bottom-container-border-color);
        padding-bottom: 1rem;
    }
}

@media screen and (max-width:450px){
    .view-container .cards .card .top-container{
        grid-template-columns: 1fr;
    }
    .view-container .cards .card .top-container .city{
        margin-bottom: 1rem;
    }
    .view-container .cards .card .top-container .temp{
        grid-column: 1/3;
        grid-row: 2/3;
        border-right: none;
        justify-content: center;
    }
    .view-container .cards .card .top-container .temp-min-max{
        grid-column: 1/3;
        grid-row: 3/4;
        align-items: center;
        justify-content: center;
    }
    .view-container .cards .card .top-container .description{
        flex-direction: column;
    }
}